/*
colores,tamaños, etc , la mayoria son heredables, con solo ponerlo en una atiqueta es heredable 
*/
:root {
    --bg-color: #000;
    --main-text-color: #fff;
    --main-brand-color: #e50914 ;
    --main-brand-color-light: #e44c54;
    --border-size: 16px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif; /* las comillas lo que ahcen es que si no carga una carga la siguiente*/
}
.main-bg {
    background-color: black;
    color: white;
    background-color: var(--bg-color);
    color: var(--main-text-color);
}
* {
    box-sizing: border-box;
}

p {
    margin: 0;
    margin-bottom: 1rem;  /* esto deja los margenes hacia abajo*/
}

h1, h2, h3, h4, p {
    margin-top: 0;
}

a {
    text-decoration: none;
}

a.hide {
    display: none;
}

@media screen and (width > 768px) {
    a.hide {
        display: block;
    }
}

@media print {
    /* body header.header {
    display: none;
    
}
    body footer.footer {
        display: none;
    }
    body section.banner {
        display:none ;
    }
    */

    body {
        header.header, footer.footer, section.banner {
            display: none;
        }
    }
}

@media screen and (prefers-color-scheme: light)  {
    :roor{
        --bg-color: #fff;
        --main-text-color: #000;
    }
}

