.footer {
    background-color: blue;
    margin-top: 200px;
    margin-bottom: 250px;
    margin-right: 40px;
    margin-left: 20px;
    /*        T-   R-   B -   L*/
    margin: 200px 40px 250px 20px;
    /*y - x*/
    margin: 200px 40px;
    /*YX*/
    margin: 40px;
    /*paddin-top*/
    padding: 20px;
    border-color: red;
    border-width: 2px;
    border-style: solid;
    border: 2px dashed red;
    text-align: center;
}